.breadcrumb-active{
    color: #555555;
}

.white-text{
    color: #e3eeff;
}

.primary-color{
    background-color: #44d3ff;
    /*background-color: #4475ff;*/
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    width: 700px;
    height: 700px;
}


