body {
    font-family: 'Lato', sans-serif;
    margin: 50px 50px 40px 40px;;
}
.coee {
    color: red;
}
div {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}
.align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
}
.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}
.picture {
    width: 75%;
    height: 75%;
}
a:link {
    color:#3399ff;
}
a:visited {
    color: #3399ff;
}
a:hover {
    color: #3399ff;
}
